/* navbar */
navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #adadad;
}

#brand-logo {
    max-height: 90px;
}

#navbar-buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 5px;
}

a {
    color: black;
    text-decoration: none;
}

.navbar-button, #navbar-login {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
}


.img{
    width:100px;
    height: 90px;
}